body {
  padding: 20px;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 50px;
  font-size: 36px;
}
.location-entry {
  text-align: center;
  padding-bottom: 50px;
}
.main-info-form {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 80px;
}
.main-icon {
  width: 130px;
  text-align: right;
}
.future-weather-form {
  text-align: center;
}
.card-text {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
